@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 100;
  src: url("./assets/fonts/Poppins-Thin.ttf");
}
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/Poppins-ExtraLight.ttf");
}
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/Poppins-Light.ttf");
}
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  src: url("./assets/fonts/Poppins-ExtraBold.ttf");
}
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 900;
  src: url("./assets/fonts/Poppins-Black.ttf");
}
body {
  font-family: "Poppins", sans-serif;
  min-width: 100vh;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: white;
  margin: 0;
  padding: 0;
}
